<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/base.js" type="text/javascript"></script>
        <title>My Wiki</title>
    </head>
    
    <body>
        <a href="/" class="main-title">
            My Wiki
        </a>
        
        <div class="control-area">
        {% block controls %}
        {% endblock %}
        </div>
        
        <div class="login-area">
            {% if user %}
                Hi, <b>{{user.name}}</b> (<a class="login-link" href="/logout">logout</a>)
            {% else %}
                <a class="login-link" href="/login">login</a>
                |
                <a class="login-link" href="/signup">sign up</a>
            {% endif %}
             
        </div>    
        
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
        
        <footer id="footer" class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo" style="font-size: 18px">by Robert Veres</div>
                <ul class="mdl-mini-footer__link-list">
                    <li> • </li>
                    <div class="mdl-logo" style="font-size: 16px"><a href="https://github.com/thedeveloper733/Wiki">GitHub</a></div>
                    <li>Version 2016.21</li>
                    <li>Made with Code, Material Design, and ♡.</li>
                    <li>Background image: Gavin Hardcastle on flickr</li>
                </ul>
            </div>
        </footer>
        
    </body>

</html>