{% extends "base.html" %}

{% block controls %}
    {% if match %}
        <a class="login-link" href="{{path}}">view</a>
        |
        <a class="login-link" href="{{history_path}}">history</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="editArea">
        <form method="post" id="editForm"> 
            <textarea name="content" id="editContent">{{ match_content }}</textarea>
            <br>
            <div id="saveButtonDiv">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="saveButton" type="submit" value="Save">
            </div>
            <br>
            <div class="mdl-tooltip" data-mdl-for="saveButton">
                Save this content
            </div>
            <input type="hidden" name="path" value="{{path}}">
        </form>
        <div id="redirButDiv">
            <button class="mdl-button mdl-js-button" id="redirbut" onclick="window.location = '{{path}}'">
                Cancel
            </button>
        </div>
    </div>

{% endblock %}