<!DOCTYPE html>

<html>
    <head>
        
        <title>Sign Up</title>
        
        <link href="/static/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link href="/static/main.css" rel="stylesheet">
        <script src="/static/signup.js" type="text/javascript"></script>
    </head>
    
    <body>
        <div class="wrapper">
            <h2>Sign Up</h2>
            <button class="mdl-button mdl-js-button" id="redirbut2">
                Login
            </button>
            <br><br>
            <div class="demo-card-wide mdl-card mdl-shadow--6dp" id="signupdiv">
                <form method="post" id="signupform">
                    <br>
                    <div class="error">
                        {{error_exist}}
                    </div>
                    <div class="error" id="usernameError">
                        {{error_username}}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="username" id="username" value="{{username}}">
                        <label class="mdl-textfield__label" for="username">Username</label>
                    </div>
                    <div class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" data-mdl-for="username">
                        Enter a username (at least <strong>5</strong> characters)
                    </div>
                    <div class="error" id="passwordError">
                        {{error_password}}  
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" name="password" id="password" value="">
                        <label class="mdl-textfield__label" for="password">Password</label>
                    </div>
                    <div class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" data-mdl-for="password">
                        Enter a password (at least <strong>5</strong> characters)
                    </div>
                    <div class="error" id="verifyError">
                        {{error_verify}}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" name="verify" id="verify" value="">
                        <label class="mdl-textfield__label" for="verify">Verify</label>
                    </div>
                    <div class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" data-mdl-for="verify">
                        Confirm password
                    </div>
                    <div class="error">
                        {{error_email}}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="email" id="email" value="{{email}}">
                        <label class="mdl-textfield__label" for="email">Email (optional)</label>
                    </div>
                    <div class="mdl-tooltip mdl-tooltip--right mdl-tooltip--large" data-mdl-for="email">
                        Enter an email (optional)
                    </div>

                    <input type="hidden" name="next_url" value="{{next_url}}">

                </div>
                        
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" id="submitbut" disabled="disabled">

            </form>
        </div>
        <footer class="footer">
            <p>
                A project from Robert Veres. <span> • </span>
                <a href="https://github.com/thedeveloper733/Wiki">GitHub</a>  <span> • </span>
                Made with love from 2016 to 2019.
            </p>
        </footer>
    </body>

</html>